@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (min-width:650px){

    body{
        width: 100vw;
    }
    
    .header{
        width: 100vw;
        background-image: url(../Imagens/header-desktop.png);
        background-size: cover;
        text-align: center;
    }

    .header .button{
        flex-direction: row;
        margin: 20px auto;
    }

    .conteudo{
        display: flex;
        gap: 10px;
        margin: 0 0 20px 0;
    }
    .conteudo img{
        width: 100%;
    }
}